<div class="container mt-4">
  <div class="row">
    <div class="col-xs-10 btn-toolbar mb-3">
      <button class="btn btn-danger me-2" type="button" (click)="onFetchData()">
        Fetch Recipes
      </button>
      <div class="input-group">
        <input type="text" placeholder="Search" [(ngModel)]="searchFilter">
      </div>
    </div>
  </div>
  <div class="row">
    <div *ngIf="!isLoading">
      <app-recipe-list [searchFilter]="searchFilter"></app-recipe-list>
    </div>
    <div *ngIf="isLoading" style="text-align: center;">
      <app-loading-spinner></app-loading-spinner>
    </div>
  </div>
</div>
