<div class="row mb-5">
  <div *ngIf="recipes.length > 0;else fetchRecipes">
    <app-recipe-item *ngFor="let recipeEl of recipes | searchFilter:searchFilter:'name' | pagination:pageNumber:elementsPerPage"
     [recipe]="recipeEl"></app-recipe-item>
  </div>
  <ng-template #fetchRecipes>
    <h2>No recipes found!</h2>
    <h4>Please fetch new recipes</h4>
  </ng-template>
  <nav *ngIf="recipes.length > 0">
    <hr>
    <ul class="pagination justify-content-end">
      <li class="page-item">
        <a class="page-link" (click)="onPrevious()">Previous</a>
      </li>
      <li class="page-item"><a class="page-link">{{ pageNumber + 1 }}</a></li>
      <li class="page-item">
        <a class="page-link" (click)="onNext()">Next</a>
      </li>
    </ul>
  </nav>
</div>
